body {
  background-color: #f0ece3;
}

h1 {
  color: rgba(46, 119, 141, 0.459);
  display: block;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: xx-large;
  font-weight: bolder;
}

.form-control {
  max-width: 300px;
  display: block;
  margin: auto;
  text-align: center;
}

.images {
  align-items: center;
  margin: auto;
}

h2 {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: dodgerblue;
  font-family: "Shadows Into Light", cursive;
  font-size: x-large;
  font-weight: bold;
}

form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-family: "Shadows Into Light", cursive;
  color: black;
  font-weight: normal;
}

.todayDescription {
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-family: "Shadows Into Light", cursive;
  color: black;
  font-weight: normal;
  text-transform: capitalize;
}

.weather-icon {
  align-items: center;
  width: 60px;
}

.paremeters {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-weight: normal;
  font-family: "Shadows Into Light", cursive;
  color: #7c99ac;
  text-transform: capitalize;
}

.windspeed {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: large;
  font-weight: normal;
  font-family: "Shadows Into Light", cursive;
  color: #7c99ac;
}

.fivedaysahead {
  margin: 0 auto;
  text-align: center;
  font-size: small;
  font-family: "Shadows Into Light", cursive;
}

.day1 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: medium;
}
.day2 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: medium;
}

.day3 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: medium;
}

.day4 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: medium;
}

.day5 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: medium;
}

.icon1 {
  width: 100px;
  align-items: center;
}

.icon2 {
  width: 100px;
  align-items: center;
}
.icon3 {
  width: 100px;
  align-items: center;
}

.icon4 {
  width: 100px;
  align-items: center;
}

.icon5 {
  width: 100px;
  align-items: center;
}

.nexttemperature1 {
  text-align: center;
  color: black;
  font-weight: normal;
}

.nexttemperature2 {
  text-align: center;
  color: black;
  font-weight: normal;
}

.nexttemperature3 {
  text-align: center;
  color: black;
  font-weight: normal;
}

.nexttemperature4 {
  text-align: center;
  color: black;
  font-weight: normal;
}

.nexttemperature5 {
  text-align: center;
  color: black;
  font-weight: normal;
}

h3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: grey;
  font-family: "Shadows Into Light", cursive;
  font-size: large;
  font-weight: normal;
}

.images {
  display: inline;
  align-items: center;
}

.codedby {
  color: grey;
  font-family: "Shadows Into Light", cursive;
  font-size: large;
  font-weight: normal;
  text-align: center;
}
